main {
  flex: 1;
}

@font-face {
  font-family: 'Burbank Big Condensed';
  src: url('./assets/fonts/BurbankBigCondensed-Bold.otf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(202, 100%, 82%);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: 'Burbank', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2, a {
  font-family: "Burbank", sans-serif;
}

table {
  font-family: "Burbank", sans-serif;
  text-align: left;
}

td:first-child {
  width: 200px;
}

select {
  width: 200px;
}

img {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: hsl(0, 0%, 100%);
}

.lootPool {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  background-color: white;
}

.headerDIV {
  background-color: hsl(238, 91%, 63%);
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerDIV h1 {
  margin: 0;
  padding: 20px 0; /* Adjust padding for desired spacing */
  color: white;
  text-align: center;
}

.footerDIV {
  margin-top: auto;
  color: white;
  background-color: #5b915e;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.footerList {
  display: inline;
  background: none;
}

.contactLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contactLogo:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:hsl(0, 0%, 50%);
}

.bigBtn {
  width: 300px;
  height: 25px;
  font-family: "Burbank", sans-serif;
  border: 1px;
  display: block;
  margin: auto;
  border-radius:10px;
  background-color: #f3af19;
}

.bigBtn:hover {
  width: 300px;
  font-family: "Burbank", sans-serif;
  border: 1px;
  display: block;
  margin: auto;
  background-color: #ffe368;
}

.tableBtn {
  width: 20px;
  height: 20px;
  background-color:hsl(0, 0%, 80%);
  border:1px;
}

.tableBtn:hover {
  background-color:hsl(0,0%,70%);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);

  display: inline-block;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

.popup-inner-btn {
  width: 300px;
  height: 25px;
  font-family: "Burbank", sans-serif;
  border: 1px;
  display: block;
  margin: auto;
  border-radius:10px;
  background-color: #f3af19;
}

.popup-inner-btn:hover {
  width: 300px;
  font-family: "Burbank", sans-serif;
  border: 1px;
  display: block;
  margin: auto;
  background-color: #ffe368;
}

