body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Arial";
  text-align: center;
}

h2, a {
  font-family: "Arial";
  text-align: center;
}

table {
  font-family: "Arial";
  text-align: left;
}

td:first-child {
  width: 200px;
}

button {
  width: 300px;
  font-family: Arial;
  border: 1px;
  display: block;
  margin: auto;
}

select {
  width: 200px;
}

img {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: hsl(0, 0%, 100%);
}

.lootPool {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactLinks {
  font-family: Arial;
  color:rgb(0, 68, 255);
  padding-left: 50px;
}

.headerDIV {
  background-color: hsl(0, 0%, 34%);
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerDIV h1 {
  margin: 0;
  padding: 20px 0; /* Adjust padding for desired spacing */
  color: white;
}
